<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last Tweets</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>

<form method="POST" name= "search" class="post-form">
    {% csrf_token %}
<!-- <label class="col-sm-2 col-form-label">Twitter Username:</label>-->
    <div class="col-sm-4">
        {{form.as_p}}
    </div>
    <button type="submit" name="search" value="search" class="btn btn-primary">Search</button>
</form>
<br>
<div class="text-danger">{{error}}</div>
<br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Tweet User</th>
        <th>Tweet Text</th>
        <th>Tweet Created At</th>
    </tr>
    </thead>
    <tbody>
{% for tweet in tweets %}
    <tr>
        <td>{{ tweet.screen_name }}</td>
        <td>{{ tweet.text }}</td>
        <td>{{ tweet.created_at }}</td>
        <td>
<!--            <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>-->
<!--            <a href="/delete/{{ employee.id }}">Delete</a>-->
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<center>
    <form method="POST" name="save" class="post-form">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="save" value="save">Save all tweets</button>
    </form>
</center>
<a href="/twitter_app/tweets/list_saved_tweets/" type="saved_tweets" class="btn btn-primary">Saved Tweets >></a>
<br>
<br>
</body>
</html>