<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved data</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="color:red;font-size:30px;">Saved tweets users</h1>
<table class="table table-striped table-bordered table-sm" title="Saved tweets users">
    <thead class="thead-dark">
    <tr>
        <th>Screen Name</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <td>{{ user.screen_name }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

<br>
<br>
<h1 style="color:red;font-size:30px;">Saved tweets</h1>

<table class="table table-striped table-bordered table-sm" title="Saved tweets">
    <thead class="thead-dark">
   <tr>
        <th>Tweet User</th>
        <th>Tweet Text</th>
        <th>Tweet Created At</th>
        <th>Tweet Favorites</th>
        <th>Tweet Retweets</th>
        <th>Tweet Engagement Score</th>
    </tr>
    </thead>
    <tbody>
{% for tweet in tweets %}
    <tr>
        <td>{{ tweet.screen_name }}</td>
        <td>{{ tweet.text }}</td>
        <td>{{ tweet.created_at }}</td>
        <td>{{ tweet.favorites_count }}</td>
        <td>{{ tweet.retweets_count }}</td>
        <td>{{ tweet.compute_engagement_score}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

<br>
<center>
    <form method="POST" name="delete" class="post-form">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="delete" value="delete">Delete all tweets</button>
    </form>
</center>
<a href="/twitter_app/tweets/" class="btn btn-primary"><< Search Tweets</a>
<br>
<br>
</body>
</html>